<p id="notice"><%= notice %></p>

<h1>Listing Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Partida</th>
      <th>Llegada</th>
      <th>Pasajeros</th>
      <th>Auto</th>
      <th>Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.partida %></td>
        <td><%= reserf.llegada %></td>
        <td><%= reserf.pasajeros %></td>
        <td><%= reserf.auto %></td>
        <td><%= reserf.pago %></td>
        <td><%= link_to 'Show', reserf %></td>
        <td><%= link_to 'Edit', edit_reserf_path(reserf) %></td>
        <td><%= link_to 'Destroy', reserf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserve', new_reserf_path %>
